### Importing necessary Packages

In [1]:
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Cursor
from tweepy import Stream
from tweepy import API
import matplotlib.pyplot as plt
import pandas as pd
import jsonlines

### Key Variables

In [2]:
#Just commited
# enter the keys
access_token=""
access_token_secret=""
api_secret_key=""
api_key=""

### Authentication

In [3]:
auth = OAuthHandler(api_key,api_secret_key)
auth.set_access_token(access_token, access_token_secret)
auth_api = API(auth)

### Getting User

In [ ]:
item = auth_api.get_user("@truTVjokers")

### Collecting User's tweets according to the tweet number

In [14]:
tweets=[]
j=item.statuses_count
for status in Cursor(auth_api.user_timeline, id="midasIIITD").items():
    status._json["tweetnum"]=j   #just to record the tweet number otherwise we could simply compare tweetid
    tweets.append(status._json)
    j-=1

### Dumping into a JSONLines FILE

In [23]:
with jsonlines.open('tweets.jsonl', 'w') as writer:
    writer.write_all(tweets)

### Loading the tweets.jsonl file

In [46]:
midas_tweets=jsonlines.Reader(open("tweets.jsonl","r",encoding="UTF-8"))  #Iterator

### Info about the Tweets

● The text of the tweet.
● Date and time of the tweet.
● The number of favorites/likes.
● The number of retweets.
● Number of Images present in Tweet. If no image returns None

### Data Processing

In [47]:
cols=["Tweet number:","Date and Time","Text","num of Fav/Likes","num of Retweets","num of Images present"] #column name

data=[]

for i in midas_tweets:
    j=0
    if "media" not in i["entities"].keys(): #if no media file
        j=None
    else:
        for k in i["entities"]["media"]:    #iterating through every media file
            if k["type"]=="photo":
                j+=1
    data.append([i["tweetnum"],i["created_at"],i["text"],i["favorite_count"],
                i["retweet_count"],j])

### DataFraming

In [48]:
data=pd.DataFrame(data)
data.columns=cols
data

,Tweet number:,Text,Date and Time,num of Fav/Likes,num of Retweets,num of Images present
0,336,Sun Apr 07 14:17:29 +0000 2019,"@himanchalchandr Meanwhile, complete CV/NLP ta...",0,0,NaN
1,335,Sun Apr 07 14:17:09 +0000 2019,@sayangdipto123 Submit as per the guideline ag...,0,0,NaN
2,334,Sun Apr 07 11:43:24 +0000 2019,We request all students whose interview are sc...,0,1,NaN
3,333,Sun Apr 07 06:55:19 +0000 2019,"Other queries: ""none of the Tweeter Apis give ...",3,2,NaN
4,332,Sun Apr 07 06:53:38 +0000 2019,"Other queries: ""do we have to make two differe...",4,1,NaN
5,331,Sun Apr 07 05:32:27 +0000 2019,"Other queries: ""If using Twitter api, it does ...",4,1,NaN
6,330,Sun Apr 07 05:29:40 +0000 2019,Response to some queries asked by students on ...,6,1,NaN
7,329,Sat Apr 06 17:11:29 +0000 2019,RT @kdnuggets: Top 8 #Free Must-Read #Books on...,0,2,NaN
8,328,Sat Apr 06 16:43:27 +0000 2019,@nupur_baghel @PennDATS Congratulation @nupur_...,17,3,NaN
9,327,Fri Apr 05 16:08:37 +0000 2019,We have emailed the task details to all candid...,10,1,NaN
10,326,Fri Apr 05 04:05:11 +0000 2019,RT @rfpvjr: Our NAACL paper on polarization in...,0,16,NaN
11,325,Fri Apr 05 04:04:43 +0000 2019,RT @kdnuggets: Effective Transfer Learning For...,0,11,1.0
12,324,Wed Apr 03 18:31:53 +0000 2019,RT @stanfordnlp: What’s new in @Stanford CS224...,0,59,NaN
13,323,Wed Apr 03 17:04:32 +0000 2019,RT @DeepMindAI: Today we're releasing a large-...,0,848,NaN
14,322,Wed Apr 03 09:03:40 +0000 2019,RT @ylecun: Congratulations Jitendra Malik !\n...,0,16,NaN
15,321,Wed Apr 03 07:46:02 +0000 2019,RT @IIITDelhi: Another chance to take admissio...,0,4,NaN
16,320,Tue Apr 02 04:20:13 +0000 2019,Dear @midasIIITD internship candidates who hav...,8,1,NaN
17,319,Tue Apr 02 02:44:54 +0000 2019,Looking forward to your paper submission to @I...,5,1,NaN
18,318,Tue Apr 02 02:35:44 +0000 2019,RT @ngrams: Reproducibility in multimedia rese...,0,7,NaN
19,317,Mon Apr 01 06:53:08 +0000 2019,Online application for https://t.co/DJFDrQsHZP...,7,2,NaN
20,316,Sun Mar 31 10:21:24 +0000 2019,RT @ACMMM19: A final reminder of the Reproduci...,0,10,NaN
21,315,Fri Mar 29 19:43:24 +0000 2019,RT @isarth23: Thanks for the support and help ...,0,2,NaN
22,314,Fri Mar 29 17:16:40 +0000 2019,"Since SemEval-2019 will be held June 6-7, 2019...",9,1,NaN
23,313,Fri Mar 29 17:04:30 +0000 2019,+@aggarwal_kartik.\nCongrats! Wish you many mo...,2,0,NaN
24,312,Fri Mar 29 17:03:29 +0000 2019,RT @aggarwal_kartik: Our work (@midasIIITD ) a...,0,1,NaN
25,311,Fri Mar 29 17:02:24 +0000 2019,"Congratulations! @midasIIITD team, @isarth23 @...",9,1,NaN
26,310,Fri Mar 29 05:35:22 +0000 2019,@EEMLcommunity @radamihalcea too many deadline...,0,0,NaN
27,309,Thu Mar 28 16:55:01 +0000 2019,RT @stanfordnlp: CS224N Natural Language Proce...,0,715,NaN
28,308,Thu Mar 28 16:54:37 +0000 2019,RT @ylecun: Learn PyTorch by running on Google...,0,157,NaN
29,307,Wed Mar 27 16:09:09 +0000 2019,Dr. Vineeth N Balasubramanian will present a T...,4,1,NaN
...,...,...,...,...,...,...
306,30,Thu Aug 09 05:59:57 +0000 2018,RT @TensorFlow: TensorFlow 1.10.0 has been rel...,0,265,NaN
307,29,Wed Aug 08 11:30:56 +0000 2018,@midasIIITD is looking for motivated IIITD MTe...,2,1,NaN
308,28,Wed Aug 08 05:53:48 +0000 2018,@IIITDelhi @ponguru @RatnRajiv The results of ...,3,1,1.0
309,27,Wed Aug 08 05:45:58 +0000 2018,RT @IIITDelhi: @midasIIITD has secured rank 1 ...,0,1,NaN
310,26,Tue Aug 07 07:16:33 +0000 2018,RT @kdnuggets: Comparison of Top 6 Python NLP ...,0,40,1.0
311,25,Tue Aug 07 02:05:12 +0000 2018,Check more details of the 20th IEEE Internatio...,1,1,NaN
312,24,Tue Aug 07 01:58:49 +0000 2018,MR2AMC@ISM 2018 will be organized by @RatnRaji...,1,1,NaN
313,23,Tue Aug 07 01:50:33 +0000 2018,"Our workshop proposal named, ""MR2AMC: Multimod...",1,1,NaN
314,22,Mon Aug 06 17:48:23 +0000 2018,@NUSComputing Congratulations Abdelhak and Pro...,0,0,NaN
315,21,Mon Aug 06 17:46:59 +0000 2018,RT @goodfellow_ian: One of the most anticipate...,0,103,1.0
316,20,Mon Aug 06 06:06:47 +0000 2018,@the_dhumketu Great to have you in @midasIIITD,0,0,NaN
317,19,Fri Aug 03 05:56:33 +0000 2018,Congratulation @soujanyaporia for being appoin...,6,1,NaN
318,18,Wed Aug 01 11:47:15 +0000 2018,@IIITDelhi @the_dhumketu Thanks team @midasIII...,5,1,1.0
319,17,Wed Aug 01 11:20:07 +0000 2018,RT @IIITDelhi: Congratulations @midasIIITD int...,0,4,NaN
320,16,Wed Aug 01 05:06:47 +0000 2018,RT @learning_pt: Profile of the 5 Indian under...,0,4,NaN
321,15,Tue Jul 31 12:11:52 +0000 2018,Have a look at the list of accepted papers in ...,1,0,NaN
322,14,Tue Jul 31 02:06:26 +0000 2018,RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...,0,264,NaN
323,13,Mon Jul 30 07:30:51 +0000 2018,RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...,0,2,NaN
324,12,Sat Jul 28 11:07:11 +0000 2018,"RT @ylecun: Jitendra Malik, who directs FAIR-M...",0,57,NaN
325,11,Sat Jul 28 06:14:09 +0000 2018,RT @kdnuggets: .@Bloomberg launches free cours...,0,105,NaN
326,10,Sat Jul 28 06:13:48 +0000 2018,RT @TechAtBloomberg: Missed #PyLondinium18? Wa...,0,7,NaN
327,9,Sat Jul 28 04:08:21 +0000 2018,RT @IIITDelhi: We are delighted to announce th...,0,6,NaN
328,8,Fri Jul 27 06:46:44 +0000 2018,Get ready for the annual technical fest of @II...,3,2,NaN
329,7,Fri Jul 27 04:07:31 +0000 2018,Congratulations Dr. @RatnRajiv and team @midas...,8,2,NaN
330,6,Wed Jul 25 05:14:35 +0000 2018,Congratulations MIDAS @midasIIITD intern Prakh...,5,1,NaN
331,5,Tue Jul 24 10:33:23 +0000 2018,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm,2,1,NaN
332,4,Tue Jul 24 10:12:34 +0000 2018,It feels great to be the part of @IIITDelhi. h...,2,1,NaN
333,3,Tue Jul 24 09:46:26 +0000 2018,"Thank you, @toonzratn for designing the logo o...",4,1,1.0
334,2,Mon Jul 23 16:25:05 +0000 2018,We are on Facebook too. Like our page to get o...,3,1,NaN
335,1,Mon Jul 23 12:53:15 +0000 2018,MIDAS is a group of researchers at IIIT-Delhi ...,7,4,NaN